@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    
}
:root{
    --primary: #f2f2f2;
    --secondary:#0C70F2;
}

.bg-primary{
    background-color: var(--primary)!important;
}

.bg-secondary{
    background-color: var(--secondary)!important;
}

.btn-secondary{
    background-color: var(--secondary)!important; 
}
.navbar-brand{
    font-weight:800;
    font-size: 50px;
    color: #ffffff;
}

.navbar-brand:hover{
    color: #ffffff;
}

.nav-link{
    font-size: 25px;
    font-weight: 800;
    color: #ffffff !important;
}

.mt-6{
    margin-top: 10rem !important;
}

.mt-7{
    margin-top: 15rem !important;
}

.p-6{
    padding: 5rem !important;
}

.form-label{
    font-size: 25px;
}

h1{
    font-weight: 800; 
    font-size: 40px;
}

.h5{
    font-weight: 800; 
    font-size: 20px;
    color: #ffffff !important;
}
.h4{
    font-weight: 800; 
    font-size: 20px;
    color: black !important;
}

.border-secondary{
    border-color: var(--secondary)!important;
}
.fs-6{
    font-weight: 500;
}
